
body {
    background: linear-gradient(-45deg, #360202, #271915, rgb(22, 11, 11), #360202);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    color: white;
    direction: rtl;
    text-align: center;
    font-family: 'Tajawal' , sans-serif;
}


@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    margin-top: 5px;
}

.prayer-times {
    max-width: 700px;
    margin: auto;
    background-color: rgba(10, 10, 10, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.table {
    width: 100%;
    color: white;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(200, 220, 200, 0.3);
}

.table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(255,255, 255, 0.1);
    backdrop-filter: blur(25px);
}

.table th, .table td {
    padding: 12px 17px;
    text-align: center;
}

.table td {
    color: rgb(3, 1, 1);
    font-weight: 500;
    font-size: 18px;
}

.table .ttd tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.85);
}

.table .ttd tr:nth-child(even) {
    background: rgba(5, 4, 4, 0.75);
}

.table .ttd tr:hover {
    background: #502626;
    cursor: pointer;
}

.table th {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
}

.table th:hover {
    background-color: #160b0b;
}

select {
margin-bottom: 25px;
padding: 5px 10px;
border-radius: 30px;
background: rgb(42, 0, 0);
color: white;
border: 2px solid #1e3c72;
font-size: 14px;
width: 150px;
height: 35px;
text-align: center;
transition:  1s;
transition: all 1s;

}
select:hover {
background: linear-gradient(to right, #330000, #3b0808);
border-color: #ffffff;
color: white;
}
select:focus {
outline: none;
background: linear-gradient(to right, #ffffff, #000000);
border-color: #ffffff;
}

option {
background: #333;
color: white;
}

option:hover {
background: #444;
color: white;
}


#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: loadingEffect 1s infinite;
}

@keyframes loadingEffect {
    0% { transform: translate(-50%, -50%) scale(0.8); }
    50% { transform: translate(-50%, -50%) scale(1); }
    100% { transform: translate(-50%, -50%) scale(0.8); }
}

#city-name {
    font-size: 75px;
    color: #ffffff;
    position: relative;
    left: 250px;
    /* font-weight: 900; */
}

.timer {
    font-size: 24px;
    position: relative;
    left: 180px;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    #city-name,
    .timer {
        position: static;
        text-align: center;
    }


    .table th, .table td {
        padding: 20px 25px;
        /* text-align: center; */
        border-bottom:3px solid #330000;
    }
}

#current-time{
    font-size: 28px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    position:relative;
    right: 150px;
    bottom: 50px;
}
@media screen and (max-width: 768px) {
    .timer {
        text-align: center;
    }
    #current-time {
        font-size: 20px;
        padding: 10px 30px;
        display: block;
        position: static;
        margin: 10px auto;
        text-align: center;
        width: fit-content;
    }
}
